<a href="https://colab.research.google.com/github/taibabid/ML/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
titanic = sns.load_dataset('titanic')
titanic = titanic[['survived', 'pclass', 'sex', 'age']]
titanic.dropna(axis=0, inplace=True)
titanic['sex'].replace(['male', 'female'], [0, 1], inplace=True)
titanic.head()

   survived  pclass  sex   age
0         0       3    0  22.0
1         1       1    1  38.0
2         1       3    1  26.0
3         1       1    1  35.0
4         0       3    0  35.0

In [3]:
from sklearn.neighbors import KNeighborsClassifier

In [4]:
model = KNeighborsClassifier()

In [5]:
y = titanic['survived']
X = titanic.drop('survived', axis=1)

In [10]:
model.fit(X, y) # entrainement du modele
model.score(X, y) # Ã©valuation

0.8305322128851541